body{
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

#main-nav {
    background: #fbedf4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#main-nav form {
    margin-left: auto; }

#main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#main-nav ul li {
    margin-right: 20px;
}

#main-nav a {
    text-decoration: none;
    color: rgb(17, 16, 18);
}

#main-nav a:hover {
    color: rgb(255, 82, 243);
    text-decoration: underline;
}

.catspage{
    display: flex;
    justify-content: center;
    padding: 40px;

}

.header{
    text-align: center;
    padding: 50px;
}

.card-title{
    font-weight: bold;
}

.card{
    padding: 40px;
}