AuthUserFile "/home/trtkp23_15/public_html/WebDevelopment24/salainen/.htsalasanat"
AuthGroupFile /dev/null
AuthName "Tietokanta"
AuthType Basic

<Limit GET POST>
require user jemina
require user hanna
require user ella
</Limit>